Repository Sigmapitech/area, pull requests merged in 2025-10, with the labels that each got.

#37 Refactor(front): mobile compatibility
  front/index.html
  front/src/mobile/entrypoint.tsx
  front/src/routes/login/auth.scss
  front/src/web/entrypoint.tsx
Labels: 1. scope: front-end, 2: type: bug-fix, 2. type: cleanup

#46 Add api guard
  back/app/main.py
  dev.sh
  front/src/api_url.ts
  front/src/mobile/api-guard.tsx
  front/src/mobile/entrypoint.tsx
Labels: 1. scope: front-end, 2. type: build integration

#42 Back: Separation of Concern
  .codecov.yml
  back/app/api/routes/auth.py
  back/app/api/routes/graph.py
  back/app/db/crud/__init__.py
  back/app/db/crud/users.py
  back/app/db/crud/workflow_nodes.py
  back/app/db/crud/workflows.py
  back/app/schemas/user.py
  back/app/security/deps.py
  back/app/security/jwt.py
  back/app/services/auth.py
  back/testing.toml
  back/tests/conftest.py
  back/tests/test_hello.py
  back/tests/test_nodes.py
  back/tests/test_user.py
  back/tests/test_workflow.py
Labels: 1. scope: back-end, 2. type: refactor, 2: type: architecture, 2. type: cleanup

#53 Oauth spotify
  .codecov.yml
  back/app/db/__init__.py
  back/app/db/models/__init__.py
  back/app/db/models/oauth.py
  back/app/db/models/user.py
  back/app/main.py
  back/app/providers/__init__.py
  back/app/providers/spotify/__init__.py
  back/app/providers/spotify/spotify.py
  front/src/index.scss
  front/src/layouts/main/style.scss
  front/src/mobile/entrypoint.tsx
  front/src/routes/home/index.tsx
  front/src/routes/home/style.scss
  front/src/routes/test-spotify/index.tsx
  front/src/web/entrypoint.tsx
Labels: 1. scope: back-end

#67 Fix get_workflow route
  back/app/db/crud/workflows.py
  back/app/schemas/graph.py
Labels: 1. scope: back-end, 2: type: bug-fix, 3. topic: Workflow

#65 user management
  back/app/api/routes/auth.py
  back/app/db/crud/users.py
  back/app/schemas/user.py
  back/app/services/auth.py
  back/tests/test_user.py
Labels: 1. scope: back-end, 2. type: feature
